<div class="p-d-flex p-justify-center" id="signup-container">
    <div class="p-col p-md-4 p-m-0" id="login-form">
        <div class="p-grid p-fluid p-mx-2 p-ai-center" style="height:100%;">
            <form [formGroup]="form" class="p-col-12">
                <img src="assets/img/login/vector.png" alt="" id="vector">
                <div class="p-col-12">
                    <img src="assets/img/logo.png" alt="" id="login-logo" class="p-text-center">
                </div>
                <div class="p-col-12 p-p-0">
                    <h2 class="p-text-center p-my-1">Transferir</h2>
                </div>
                <div class="p-col-12 p-p-0">
                    <p class="p-text-center"><small>Realiza una transacción</small></p>
                </div>
                <div class="p-col-12 p-field p-mb-0">
                    <label for="recipient">Destinatario</label>
                    <p-dropdown formControlName="recipient" [options]="recipients" placeholder="Seleccionar Destinatario" dataKey="_id" optionLabel="name"></p-dropdown>
                </div>
                <div class="p-col-12 p-field p-mb-0">
                    <p><b>Nombre: </b>{{ form.value.recipient.name || '' }}</p>
                    <p><b>Correo: </b>{{ form.value.recipient.email || '' }}</p>
                    <p><b>Banco: </b>{{ form.value.recipient.bank || '' }}</p>
                    <p><b>Tipo de cuenta: </b>{{ form.value.recipient.accountType || '' }}</p>
                </div>
                <div class="p-col-12 p-field p-mb-0">
                    <label for="amount">Monto</label>
                    <input id="amount" type="number" formControlName="amount" min="0" required pInputText placeholder="Monto">
                </div>
                <div class="p-col-12">
                    <submit-button [loading]="loading" [label]="submitButtonLabel" (click)="submit()"></submit-button>
                </div>
            </form> 
        </div>   
    </div>
    <div class="p-col-12 p-md-8 p-p-0" id="login-img-container">
        <button pButton [routerLink]="['/public', 'recipients']" type="button" label="Nuevo Destinatario" class="p-button-secondary" style="margin-right: 5px;"></button>
        <button pButton [routerLink]="['/public', 'transactions']" type="button" label="Nueva Transferencia" class="p-button-secondary" style="margin-right: 5px;"></button>
        <button pButton [routerLink]="['/public', 'history']" type="button" label="Historial" class="p-button-secondary" style="margin-right: 5px;"></button>
        <img src="assets/img/login/login.jpg" alt="" id="login-img">
    </div>
    <p-toast position="top-center"></p-toast> 
</div>
