.loading {
	
	display: block;
	width: 100%;
    

    .loading-box {
        position: relative;

        .points:before {
            content: "";
            position: absolute;
            animation-duration: 1s;
            animation-name: points;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        @keyframes points {
            0% { content: "" }
            33% { content: "." }
            66% { content: ".." }
            100% { content: "..." }
          }

    }   

}

@media only screen and (max-width: 800px) {
	#loading-component {
		width: 100%;
	}
}