<div class="p-d-flex p-justify-center" id="signup-container">
    <div class="p-col p-md-4 p-m-0" id="login-form">
        <div class="p-grid p-fluid p-mx-2 p-ai-center" style="height:100%;">
            <form [formGroup]="form" class="p-col-12">
                <img src="assets/img/login/vector.png" alt="" id="vector">
                <div class="p-col-12">
                    <img src="assets/img/logo.png" alt="" id="login-logo" class="p-text-center">
                </div>
                <div class="p-col-12 p-p-0">
                    <h2 class="p-text-center p-my-1">Historial</h2>
                </div>
                <div class="p-col-12 p-p-0">
                    <p class="p-text-center"><small>Historial de transferencias</small></p>
                </div>
                <p-table [value]="transactions">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nombre</th>
                            <th>RUT</th>
                            <th>Banco</th>
                            <th>Monto</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-transaction>
                        <tr>
                            <td>{{ transaction.recipient.name }}</td>
                            <td>{{ transaction.recipient.rut }}</td>
                            <td>{{ transaction.recipient.bank }}</td>
                            <td>{{ transaction.amount }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </form> 
        </div>   
    </div>
    <div class="p-col-12 p-md-8 p-p-0" id="login-img-container">
        <button pButton [routerLink]="['/public', 'recipients']" type="button" label="Nuevo Destinatario" class="p-button-secondary" style="margin-right: 5px;"></button>
        <button pButton [routerLink]="['/public', 'transactions']" type="button" label="Nueva Transferencia" class="p-button-secondary" style="margin-right: 5px;"></button>
        <button pButton [routerLink]="['/public', 'history']" type="button" label="Historial" class="p-button-secondary" style="margin-right: 5px;"></button>
        <img src="assets/img/login/login.jpg" alt="" id="login-img">
    </div>
    <p-toast position="top-center"></p-toast> 
</div>
